<script setup lang="ts">
import { mdiGmail } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row class="text-center">
      <v-col>
        <br />
        <v-avatar size="200">
          <v-img src="img/MyPic.png" alt="Me"></v-img>
        </v-avatar>
      </v-col>
    </v-row>
    <v-row class="head" justify="center">Kongphop Kenrung</v-row>
    <v-row class="second" justify="center">(63160002)</v-row>
    <v-row class="text-center">
      <v-col><v-icon :icon="mdiGmail" /> 63160002@go.buu.ac.th</v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="5">
        <v-table>
          <thead>
            <tr>
              <th>ประวัติส่วนตัว</th>
              <th>ประวัติการศึกษา</th>
              <th>สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น: ก้อง</td>
              <td>อนุบาลศึกษา: โรงเรียนเมืองพัทยา3</td>
              <td>เทคโนโลยี</td>
            </tr>
            <tr>
              <td>อายุ: 21 ปี</td>
              <td>ประถมศึกษา: โรงเรียนอักษรพัทยา</td>
              <td>NBA</td>
            </tr>
            <tr>
              <td>คณะ: วิทยาการสารสนเทศ</td>
              <td>มัธยมศึกษา: โรงเรียนสว่างบริบูรณ์วิทยา</td>
              <td>เพลง</td>
            </tr>
            <tr>
              <td>สาขา: วิทยาการคอมพิวเตอร์</td>
              <td>ปัจจุบันศึกษา: มหาวิทยาลัยบูรพา</td>
              <td>เกม</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.head {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.second {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
</style>
